<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="''">naprienko1210</a>
    <div class="navbar w-50">
      <ul class="navbar-nav mr-auto d-flex flex-row justify-content-around w-100">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'list'">All Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'add'">Add Product</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
