
<!--<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Lorem ipsum dolor.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores dolorum ducimus reprehenderit. Ad culpa doloremque excepturi labore neque quibusdam quidem tempore temporibus veritatis.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Lorem.</a>
    </p>
  </main>
</div>-->
<h1 class="" style="margin-top: 100px">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi obcaecati, ratione? Consequatur ipsum labore nihil velit? Alias aliquid at dolorum facere hic ipsam, minus natus neque odio perspiciatis quaerat reiciendis rem repudiandae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni necessitatibus quo reiciendis!</p>
