<form [formGroup]="productFormUpdate" (ngSubmit)="onEditProductFormSubmit()" style="margin-top: 100px">
  <input type="hidden" id="id" formControlName="id" [(ngModel)]="id">
  <div class="form-group">
    <label for="name">Наименование</label>
    <input type="text" formControlName="name" id="name" class="form-control" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="article">Артикул товара</label>
    <input type="number" formControlName="article" id="article" class="form-control" [(ngModel)]="article">
  </div>
  <div class="form-group">
    <label for="price">Цена</label>
    <input type="number" formControlName="price" id="price" class="form-control" [(ngModel)]="price">
  </div>
  <div class="form-group">
    <label for="maker">Производитель</label>
    <input type="text" formControlName="maker" id="maker" class="form-control" [(ngModel)]="maker">
  </div>
  <div class="form-group">
    <label for="category">Категория товара</label>
    <select formControlName="category" id="category" class="form-control" [(ngModel)]="category">
      <option value="">Выберите категорию</option>
      <option value="мебель">мебель</option>
      <option value="техника">техника</option>
      <option value="книги">книги</option>
      <option value="телефоны">телефоны</option>
    </select>
  </div>
  <div class="form-group">
    <label for="weight">Вес</label>
    <input type="text" formControlName="weight" id="weight" class="form-control" [(ngModel)]="weight">
  </div>
  <div class="form-group">
    <label for="count">Количество товара</label>
    <input type="number" formControlName="count" id="count" class="form-control" [(ngModel)]="count">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary form-control" [disabled]="!productFormUpdate.valid" value="Сохранить">
  </div>
</form>
